
**3. Cities in Sweden - gender**

We continue with the same Excel-file as in task 2, but now you should also read in the sheets "Kvinnor" and "Män" into two additional DataFrames. In this task, many operations are similar to all three datasets, try creating custom made functions to reuse as much code as possible.

  a) Clean your data so that the head looks like this: (Rang 2020	Rang 2019	Kommun	Folkmängd 2020	Folkmängd 2019	Förändring	Kön. One for "Man" and one for "Kvinna")

In [3]:
import pandas as pd, re

df = pd.read_excel("komtopp50_2020.xlsx", sheet_name="Kvinnor", header=[5, 6])

first_word = lambda s: (re.findall(r"[A-Za-zÅÄÖåäö]+", str(s)) or [""])[0]   # första ordet i rad 1
year_only = lambda s: (re.findall(r"\b\d{4}\b", str(s)) or [""])[0]              # siffror i rad 2

# Bygg enradig header: "<första-ordet> <årtal>" (om årtal finns)
df.columns = [f"{first_word(a)} {year_only(b)}".strip() for a, b in df.columns]

df.head()

   Rang 2020  Rang 2019    Kommun  Kvinnor 2020  Kvinnor 2019 Förändring
0         84         85       Ale         15612         15348   1.720094
1         64         64  Alingsås         20900         20774   0.606527
2        123        123   Alvesta          9857          9795   0.632976
3        255        255     Aneby          3318          3350  -0.955224
4        165        164    Arboga          6945          6973  -0.401549

In [4]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6, 7]})

# Adding a new column
df['B'] = [8]
print(df)

ValueError: Length of values (1) does not match length of index (7)