**1. Cities in Sweden - create dataset**

 a) Use your DataFrame to print out all the cities.

In [2]:
import pandas as pd

df_city_population = pd.DataFrame({
    "City": ["Malmö", "Stockholm", "Uppsala", "Göteborg"],
    "Population": [347949, 975551, 233839, 583056]
}, index=[0, 1, 2, 3])

df_city_population

        City  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

 b) Select only the row which contains Göteborg. Do this by using the name Göteborg.

In [3]:
def get_goteborg(df):
    return df[df["City"] == "Göteborg"]

get_goteborg(df_city_population)

       City  Population
3  Göteborg      583056

c) Sort the cities by population from largest to smallest.

In [4]:
population_sorted = df_city_population.sort_values(by="Population", ascending=False) # sorting descending by Population
population_sorted = population_sorted.reset_index(drop=True) # reset index after sorting
population_sorted

        City  Population
0  Stockholm      975551
1   Göteborg      583056
2      Malmö      347949
3    Uppsala      233839

d) Filter out the three largest cities.

In [5]:
city_top3 = population_sorted.iloc[:3] # Python-way slicing
city_top3 = city_top3.reset_index(drop=True)
city_top3

        City  Population
0  Stockholm      975551
1   Göteborg      583056
2      Malmö      347949

e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [6]:
sweden_population = 10379295

df_sorted = df_city_population.copy()
df_sorted["Population"] = pd.to_numeric(df_sorted["Population"])
df_sorted = df_sorted.sort_values("Population", ascending=False)

df_sorted["Population (%)"] = (df_sorted["Population"] / sweden_population) * 100
df_sorted = df_sorted.reset_index(drop=True) 
df_sorted["Population (%)"] = df_sorted["Population (%)"].round(1) # rounding to one decimal place  
df_sorted

        City  Population  Population (%)
0  Stockholm      975551             9.4
1   Göteborg      583056             5.6
2      Malmö      347949             3.4
3    Uppsala      233839             2.3