In [5]:
# För att använda dataset från kaggle måste vi först hämta datan därifrån. 
# Man trycker download och kopierar koden. Kär den sedan så att datasetet laddas ner: 

import kagglehub

# Download latest version
path = kagglehub.dataset_download("zazueta/pisa-scores-2015")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\fanny\.cache\kagglehub\datasets\zazueta\pisa-scores-2015\versions\1

Läser in CSV-filer:

In [1]:
import pandas as pd

# Läs in definition- och källdata
definition_df = pd.read_csv("pisa_definition.csv")

# Läs in datatabellen
data_df = pd.read_csv("pisa_data.csv")

In [2]:
print("Definitioner och källor:")
display(definition_df.head())

print("\nPISA-data:")
display(data_df.head())

Definitioner och källor:

,Code,Indicator Name,Long definition,Source
0,LO.PISA.MAT,PISA: Mean performance on the mathematics scale,Average score of 15-year-old students on the P...,OECD Programme for International Student Asses...
1,LO.PISA.MAT.FE,PISA: Mean performance on the mathematics scal...,Average score of 15-year-old female students o...,OECD Programme for International Student Asses...
2,LO.PISA.MAT.MA,PISA: Mean performance on the mathematics scal...,Average score of 15-year-old male students on ...,OECD Programme for International Student Asses...
3,LO.PISA.REA,PISA: Mean performance on the reading scale,Average score of 15-year-old students on the P...,OECD Programme for International Student Asses...
4,LO.PISA.REA.FE,PISA: Mean performance on the reading scale. F...,Average score of 15-year-old female students o...,OECD Programme for International Student Asses...

PISA-data:

,Country Name,Country Code,Series Name,Series Code,2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Albania,ALB,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,..,..,413.157
1,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.FE,..,..,417.750029482799
2,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.MA,..,..,408.545458736189
3,Albania,ALB,PISA: Mean performance on the reading scale,LO.PISA.REA,..,..,405.2588
4,Albania,ALB,PISA: Mean performance on the reading scale. F...,LO.PISA.REA.FE,..,..,434.639625546737

In [16]:
display(data_df)

,Country Name,Country Code,Series Name,Series Code,2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Albania,ALB,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,..,..,413.157
1,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.FE,..,..,417.750029482799
2,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.MA,..,..,408.545458736189
3,Albania,ALB,PISA: Mean performance on the reading scale,LO.PISA.REA,..,..,405.2588
4,Albania,ALB,PISA: Mean performance on the reading scale. F...,LO.PISA.REA.FE,..,..,434.639625546737
...,...,...,...,...,...,...,...
1161,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1164,Data from database: Education Statistics: Lear...,NaN,NaN,NaN,NaN,NaN,NaN
1165,Last Updated: 12/12/2016,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
display(data_df[['Country Name', '2015 [YR2015]']])

                                           Country Name     2015 [YR2015]
0                                               Albania           413.157
1                                               Albania  417.750029482799
2                                               Albania  408.545458736189
3                                               Albania          405.2588
4                                               Albania  434.639625546737
...                                                 ...               ...
1161                                                NaN               NaN
1162                                                NaN               NaN
1163                                                NaN               NaN
1164  Data from database: Education Statistics: Lear...               NaN
1165                           Last Updated: 12/12/2016               NaN

[1166 rows x 2 columns]

In [29]:
data_df.describe

<bound method NDFrame.describe of                                            Country Name Country Code  \
0                                               Albania          ALB
1                                               Albania          ALB
2                                               Albania          ALB
3                                               Albania          ALB
4                                               Albania          ALB
...                                                 ...          ...
1161                                                NaN          NaN
1162                                                NaN          NaN
1163                                                NaN          NaN
1164  Data from database: Education Statistics: Lear...          NaN
1165                           Last Updated: 12/12/2016          NaN

                                            Series Name     Series Code  \
0       PISA: Mean performance on the mathematics scale     LO.PISA.MAT
1     PISA: Mean performance on the mathematics scal...  LO.PISA.MAT.FE
2     PISA: Mean performance on the mathematics scal...  LO.PISA.MAT.MA
3           PISA: Mean performance on the reading scale     LO.PISA.REA
4     PISA: Mean performance on the reading scale. F...  LO.PISA.REA.FE
...                                                 ...             ...
1161                                                NaN             NaN
1162                                                NaN             NaN
1163                                                NaN             NaN
1164                                                NaN             NaN
1165                                                NaN             NaN

     2013 [YR2013] 2014 [YR2014]     2015 [YR2015]
0               ..            ..           413.157
1               ..            ..  417.750029482799
2               ..            ..  408.545458736189
3               ..            ..          405.2588
4               ..            ..  434.639625546737
...            ...           ...               ...
1161           NaN           NaN               NaN
1162           NaN           NaN               NaN
1163           NaN           NaN               NaN
1164           NaN           NaN               NaN
1165           NaN           NaN               NaN

[1166 rows x 7 columns]>

In [28]:
col = "2015 [YR2015]"

# (valfritt) trimma ev. blanksteg i kolumnnamn
data_df.columns = data_df.columns.str.strip()

# Rensa vanliga “skräptecken” och gör om till numeriskt
s = (
    data_df[col]
    .astype(str)
    .str.replace(r"[^\d\-,.]", "", regex=True)  # ta bort allt utom siffror, minus, komma, punkt
    .str.replace(",", ".", regex=False)         # ersätt decimalkomma med punkt
)

s = pd.to_numeric(s, errors="coerce")  # icke-tolkningsbara värden blir NaN

s.agg(["mean", "max", "min"])

mean    462.102626
max     564.254534
min     325.586561
Name: 2015 [YR2015], dtype: float64

In [30]:
stocks = pd.concat(data_df, axis=1)
stocks

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [22]:
data_df.agg({"2015 [YR2015]": ["mean", "min", "max"]})

TypeError: can only concatenate str (not "int") to str

In [ ]:
df[(df["Category"] == "Electronics") & (df["Country"] == "USA")]

_IncompleteInputError: incomplete input (3236396442.py, line 1)